doctype html

html
head
  title ĐỆ TỬ QUY
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', integrity='sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB', crossorigin='anonymous')
  link(rel='stylesheet' href='https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css')
  link(rel='stylesheet' href='/css/style.css')
  
  // Global site tag (gtag.js) - Google Analytics
  script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-121052569-1')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-121052569-1');

body
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    a.navbar-brand(href='javascript:void(0)').homepage ĐỆ TỬ QUY
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='javascript:void(0)').homepage Home 
          span.sr-only (current)
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='javascript:void(0)' role='button', data-toggle='dropdown', aria-hasmodal='true', aria-expanded='false') Videos
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='javascript:void(0)')#dtq120 1 ĐTQ-120: Anime
            a.dropdown-item(href='javascript:void(0)')#dtq60 2 ĐTQ-060: Anime
            a.dropdown-item(href='javascript:void(0)')#dtq40 3 ĐTQ-040: Giảng
            a.dropdown-item(href='javascript:void(0)')#nlntt 4 Nhân Lễ Nghĩa Trí Tín
            .dropdown-divider
            a.dropdown-item(href='javascript:void(0)')#thpt 5 Thiên Hạ Phụ Tự
        //- li.nav-item
        //-   a.nav-link(href='javascript:void(0)')#group-surveys GROUP surveys
        if user
          //- li.nav-item
          //-   a.nav-link(href='javascript:void(0)')#my-surveys MY surveys
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='javascript:void(0)', role='button', data-toggle='dropdown', aria-hasmodal='true', aria-expanded='false') NEW Survey
            .dropdown-menu(aria-labelledby='navbarDropdown')
              a.dropdown-item(href='javascript:void(0)' onclick="loadNewSurveyForm('hieu')")#new-survey-hieu 1 Hiếu
              a.dropdown-item(href='javascript:void(0)' onclick="loadNewSurveyForm('de')")#new-survey-de 2 Đệ
              a.dropdown-item(href='javascript:void(0)' onclick="loadNewSurveyForm('can')")#new-survey-can 3 Cận
              a.dropdown-item(href='javascript:void(0)' onclick="loadNewSurveyForm('tin')")#new-survey-tin 4 Tín
              a.dropdown-item(href='javascript:void(0)' onclick="loadNewSurveyForm('tubi')")#new-survey-tubi 5 Từ Bi
              a.dropdown-item(href='javascript:void(0)' onclick="loadNewSurveyForm('thannhan')")#new-survey-thannhan 6 Thân Nhân
              a.dropdown-item(href='javascript:void(0)' onclick="loadNewSurveyForm('hocvan')")#new-survey-hocvan 7 Học Văn
			
      .nav.navbar-nav.ml-auto
        if user
          li.nav-item
            a.nav-link(href='/users/logout') Logout
        else
          li.nav-item
            a.nav-link(href='javascript:void(0)')#register Register 
          li.nav-item
            a.nav-link(href='javascript:void(0)')#login Login 

  .container
    block content
    br
  
    #myModal.modal.fade(role='dialog')
      .modal-dialog
        .modal-content
          .modal-body
          .modal-footer
            button.btn.btn-primary(type='button', data-dismiss='modal') Close

    hr
    footer
      p Created on 2018
      script(src='https://code.jquery.com/jquery-3.3.1.js', integrity='sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=', crossorigin='anonymous')
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")
      script(src='https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js')
      script(src='/js/dtq.js')